<!DOCTYPE html>
<html lang="en" ng-app="teamform-app" ng-controller="ShowEventCtrl as vm">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Event Page - {{vm.eventName}}</title>

      <script src="assets/lib/jquery.min.js"></script>
      <script src="assets/lib/bootstrap.min.js"></script>

      <link rel="stylesheet" href="assets/css/dependencies.css" type="text/css">
      <link rel="stylesheet" href="assets/css/site.css" >

      <!-- Customized libraries shared by pages -->
      <script src="config/env.js"></script>
      <script src="assets/js/site.js"></script>

   </head>
   <body>

   <a href="index.html">
   <button id="btn_admin" type="button" class="btn btn-primary" >Back</button></a>

   <br>

   <div class="text-center">
      <h1>{{vm.eventName}}</h1>
      <h2 id="text_event_name"></h2>
       <div>
         <div class="row">
            <div class="col-md-2 col-xs-2"></div>

            <div class="col-md-8 col-xs-8">

              <div class="panel panel-default">
                <div class="panel-body">
                  <p>
                    <b>Description: </b>{{vm.event.eventDescription}}
                  </p>
                  <p>
                    <b>Maximum Team Size: </b>{{vm.event.maxTeamSize}}
                  </p>
                  <p>
                    <b>Minimum Team Size: </b>{{vm.event.minTeamSize}}
                  </p>
                  <a
                    ng-if="vm.isMyEvent(vm.event)"
                    href="edit_event.html?q={{vm.eventName}}">Edit event</a>
                </div>
              </div>
              <div class="text-center">
                <a href="create_team.html?q={{vm.eventName}}"><button id="btn_leader" type="button" class="btn btn-primary">Create a Team</button></a>
                <a href="join_team.html?q={{vm.eventName}}"><button id="btn_member" type="button" class="btn btn-primary">Join Event</button></a>
              </div>
              <!-- Display team info -->
              </br>
              <input type="text" class="form-control" placeholder="Search:"  ng-model="vm.searchText">
              </br>
              <div class="panel panel-primary" ng-repeat="team in vm.teams | filter:vm.searchText">
                <div class="panel-heading">
                  <a href="team.html?q={{vm.eventName}}&team={{team.$id}}">
                    <h3 class="panel-title" style="color:white;">{{team.$id}}</h3>
                  </a>
                </div>
                <div class="panel-body">
                  <p>
                    <b>Required skills:</b>
                    <p>{{vm.displaySkills(team.skills)}}</p>
                  </p>
                  <p><b>Members:</b></p>
                  <div ng-repeat="teamMemberID in team.teamMembers" ng-init="memberData = vm.getMemberData(teamMemberID)">
                      <p><a href='member.html?id={{memberData.$id}}'>{{memberData.name}}</a></p>
                  </div>
                  <!-- Manage team button -->
                  <!-- <div class="text-center" ng-if="vm.isMyTeam(team)">
                    <a href="team.html?q={{vm.eventName}}&team={{team.$id}}"><button id="btn_member" type="button" class="btn btn-primary">Manage my team</button></a>
                  </div> -->
                </div>
              </div>
            </div>
          <div class="col-md-2 col-xs-2"></div>
        </div>
      </div>
   </div>


   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <!-- <script src="assets/lib/angular.min.js"></script> -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
   <script src="assets/lib/angular-route.min.js"></script>

   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="assets/lib/firebase.js"></script>
   <script src="assets/lib/angularfire.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>

   <!-- JavaScript of this page -->
   <script src="shared/teamform_db/teamformDb.js"></script>
   <script src="shared/current_user/currentUser.js"></script>
   <script src="shared/emailer/emailer.js"></script>
   <script src="components/mainApp.js"></script>
   <script src="components/show_event/showEventController.js"></script>

   </body>
</html>
