<!DOCTYPE html>
<html lang="en" ng-app="teamform-app" ng-controller="JoinTeamCtrl as vm">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - join a team</title>

      <!-- libraries and CSS
    JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)
    Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
    Font-awesome: More icons for the web development (v4.6.3 is used)
    site.css: A customized css for our web application. Not from any web framework.
    -->

      <script src="assets/lib/jquery.min.js"></script>
      <script src="assets/lib/bootstrap.min.js"></script>

     <link rel="stylesheet" href="assets/css/dependencies.css" type="text/css">
      <link rel="stylesheet" href="assets/css/site.css" >


      <!-- Customized libraries shared by pages -->
      <script src="config/env.js"></script>
      <script src="assets/js/site.js"></script>

   </head>
   <body>

   <a href="javascript:history.back()"><button id="btn_admin" type="button" class="btn btn-primary" >Back</button></a>

   <br>

   <div class="text-center">
      <h1>Join a team</h1>
      <h2 id="text_event_name"></h2>
       <div id="member_page_controller">


          <div class="row">

            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-8 col-xs-8 panel">
              <div class="row text-left">
                <img ng-if="!!vm.currentUser.profile_pic_url" src="{{vm.currentUser.profile_pic_url}}" class="profile_img">
                <h3>Name:</h3>
                <p>{{vm.currentUser.display_name}}</p>
                <h3>Email:</h3>
                <p>{{vm.currentUser.email}}</p>
                <h3>Your Skills:</h3>
                <input type="text" class="form-control" id="inputMemberSkills" placeholder="Skills you acquired, comma separated. (i.e. C++, Java, JS)" ng-model="vm.skillsString">
                <h3>Self introduction</h3>
                <textarea type="text" class="form-control" id="inputMemberIntroduction" placeholder="(Optional) Introduce yourself to others~" ng-model="vm.introduction"></textarea>
                <div ng-if="vm.isJoinedTeam() === false">
                  <h3>Your team preference:</h3>
                  <div ng-repeat="team in vm.teams">
                    <div class="checkbox">
                      <label><input type="checkbox" value="{{team.$id}}" 
                        ng-checked="vm.selection.indexOf(team.$id) > -1"
                        ng-click="vm.toggleSelection(team.$id)">
                        {{team.$id}}
                      </label>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" ng-click="vm.saveFunc();" >Save</button>
                </div>
                <div ng-if="vm.isJoinedTeam() === true">
                  <h3>Your have joined a team!</h3>
                </div>
              </div>
            </div>
          <div class="col-md-2 col-xs-2"></div>
        </div>
      </div>
   </div>



   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="assets/lib/angular.min.js"></script>
   <script src="assets/lib/angular-route.min.js"></script>

   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="assets/lib/firebase.js"></script>
   <script src="assets/lib/angularfire.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>

   <!-- JavaScript of this page -->
   <script src="shared/teamform_db/teamformDb.js"></script>
   <script src="shared/current_user/currentUser.js"></script>
   <script src="components/mainApp.js"></script>
   <script src="components/join_team/joinTeamController.js"></script>

   </body>
</html>
