<!DOCTYPE html>
<html lang="en" ng-app="teamform-app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="teamform, team">
      <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>teamform - team page</title>

      <!-- libraries and CSS
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)
		site.css: A customized css for our web application. Not from any web framework.
	  -->

      <script src="assets/lib/jquery.min.js"></script>
      <script src="assets/lib/bootstrap.min.js"></script>

	  <link rel="stylesheet" href="assets/css/dependencies.css" type="text/css">
      <link rel="stylesheet" href="assets/css/site.css" >


      <!-- Customized libraries shared by pages -->
      <script src="config/env.js"></script>
      <script src="assets/js/site.js"></script>

   </head>
   <body ng-controller="TeamCtrl as vm">

    <a href="javascript:history.back()"
   <button id="btn_admin" type="button" class="btn btn-primary" >
   <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
   Back</button></a>
   <br>

   <div class="text-center">
      <h1>Team Page {{vm.param.teamName}}</h1>
      <h2 id="text_event_name"></h2>
       <div id="team_page_controller">

         <div class="row">

            <div class="col-md-2 col-xs-2"></div>

            <div class="col-md-6 col-xs-6 text-left panel">


				<div class="row">
          <div ng-class="vm.isTeamLeader() ? 'col-md-6' : 'col-md-12'">
            <h4>Team members</h4>
					  <div ng-repeat="teamMemberID in vm.param.teamMembers" ng-init="teamMemberData = vm.getMemberData(teamMemberID)">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href='member.html?id={{teamMemberID}}'>{{teamMemberData.name}}</a>
                  </h3>
                </div>
                <div class="panel-body">
                  <p><b>Introduction: </b>{{teamMemberData.introduction}}</p>
                  <p><b>Skills: </b>{{teamMemberData.skills.join()}}</p>
                  <a
                    class="btn btn-danger"
                    ng-click="vm.removeMember(teamMemberID);"
                    ng-if="vm.isTeamLeader()">DELETE</a>
                  <a
                    class="btn btn-danger"
                    ng-click="vm.removeMember(teamMemberID);"
                    ng-if="!vm.isTeamLeader() && vm.isMe(teamMemberID)">QUIT TEAM</a>
                </div>
              </div>
					  </div>
          </div>
          <div class="col-sm-6" ng-if="vm.isTeamLeader()">
            <h4>Requests received:</h4>
					  <div ng-repeat="requestMemberID in vm.requests" ng-init="requestMemberData = vm.getMemberData(requestMemberID)">
              <div class="panel" ng-class="vm.containsRequiredSkills(requestMemberData.skills) ? 'panel-success' : 'panel-danger'">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href='member.html?id={{requestMemberID}}'>{{requestMemberData.name}}</a>
                  </h3>
                </div>
                <div class="panel-body">
                  <p><b>Introduction: </b>{{requestMemberData.introduction}}</p>
                  <p><b>Skills: </b>{{requestMemberData.skills.join()}}</p>
                  <a
                    class="btn btn-primary"
                    ng-click="vm.processRequest(requestMemberID);">ACCEPT</a>
                </div>
              </div>
					  </div>
					 
          </div>
				</div>

            </div>
         </div>
       </div>
   </div>


   <!-- JavaScript of this page -->

   <!-- Angular and Angular-route libraries (v1.5.7) -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
   <script src="assets/lib/angular-route.min.js"></script>

   <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
   <script src="assets/lib/firebase.js"></script>
   <script src="assets/lib/angularfire.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>

   <script src="shared/teamform_db/teamformDb.js"></script>
   <script src="shared/current_user/currentUser.js"></script>
   <script src="shared/emailer/emailer.js"></script>
   <script src="components/mainApp.js"></script>
   <script src="components/team/teamController.js"></script>

   </body>
</html>
